

body {
font-size: 100%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background: black;
}
h1 {
    background: red;
    font-size: 400%;
    color: black;
    text-align: center;
    text-shadow: 1px 2px 0 white;
    border: 5px solid white;
}
h2 {
    color: black;
    text-shadow: 1px 2px 0 white;

}

h3 {
    text-shadow: 2px 3px 0 silver;
    text-align: center;
}
p {
    color: black;
    text-align: center;
}

/* Header */

header li a:hover {
    background-color: white;
}

header button {
    background-color: slategrey;
    width: 100px;
    border: red;
    font-size: smaller;
}



/* Middle section */

#middle {

}

.subheading {
    margin-top: -40px;
    margin-bottom: 40px;
    text-align: center;
    height: 30px;
    color: white;
    text-shadow: 1px 2px 0 red;

}

.categoryheading {
    margin-top: -30px;
    margin-left: 400px;
    text-align: center;
    background: silver;
    height: 30px;
    width: 1200px;
}

/* Footer */

footer {
    background: red;
    margin-top: 50px;
}

ul {
    list-style-type: square;
    
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer  li {
    float: left;
    text-align: center;
}

footer li a {
    display: block;
    color: black;
    text-shadow: 1px 2px 0 slategrey;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

footer li a:hover {
    background-color: white;
}


/* Left sidebar  */

#leftbar {
    text-align: center;
    width: 300px;
    height: 1725px;
    float: left;
    padding: 1px 1px 1px 1px;
    margin-left: 1%;
    margin-right: 2%;
    margin-top: 20px;
    background: slategrey; 
    border: 2px solid white;
}

/* Right sidebar */

#rightbar {
    text-align: center;
    width: 200px;
    height: 1725px;
    float: right;
    padding: 1px 1px 1px 1px;
    margin-top: 20px;
    margin-right: 1%;
    background: slategrey; 
    border: 2px solid white;
}

/* Categories of item */

.category {
    margin-left: 350px;
    margin-right: 250px;
    background-color: slategrey;
    border: white;
    border-radius: 1px;
    height: 225px;
}

.category h2 {
    text-align: center;
}

.category button a:hover {
    background-color: red;
}

/* Buttons */

button {
    color: black;
    background-color: white;
    display: inline-block;
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    padding: .3em .3em;
    border: 2px solid black;
    width: 600px;
    text-emphasis-style: bold;
}

button:hover {

        background-color: red;
    }

#credits {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    text-shadow: 1px 2px 0 slategrey;
}

/* Pictures */




.images ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.images  li {
    float: left;
    text-align: center;
}

.images li a {
    display: block;
    color: black;
    text-shadow: 1px 2px 0 slategrey;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.images li a:hover {
    border: 3px dashed black;
}

.wands  {
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
    padding-right: 62px;
    padding-left: 62px;
    margin-top: -50px;
    margin-bottom: -50px;
}

.staves {
    padding-right: 75px;
    padding-left: 75px;
    margin-top: -25px;
    margin-bottom: -20px;
}

.potions {
    padding-right: 40px;
    padding-left: 40px;
}

.weapons {
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: -20px;
}

.categoryheading {
    float: center;
}

/* 

Why is the category section (including the seperate header) hightlighting like a link?

How can I space out my images in the category section? How can I rotate the wands 45 degrees?

Why is sitemap dropped down?

How can I center the text in the footer in that ul, as well as the buttons in the header?

Generally how does the code I have in .images ul/li/li a:hover and the same in the footer work? 

Having trouble understanding what determined the positioning of elements on the page.
Mostly done by trial and error and imitation. Is it their order in the HTML document?
How does relative/static/fixed position work? How does float work?

How can I change the cursor? 

How can I change what links look like before and after being clicked?

Can I import fonts to use? 

*/